/* SHARED ELEMENTS CSS */
html {
    font-family: 'Manrope', sans-serif;
    background-color: #d3cec7;
}
.header {
    top: 0vw;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1vw;  
}
.main-button{
    font-style: bold;
    color: black;
    font-size: 3vw;
    font-weight: 800;
    transition-duration: 3s;
    -webkit-transition: all 1s ease; 
    -moz-transition: all 1s ease; 
    -o-transition: all 1s ease; 
    -ms-transition: all 1s ease; 
    transition: all 1s ease; 
    /*animation: a1 1s ease-in forwards; */
}
.main-button:visited {
    color: black;
}
.main-button:hover {
    text-decoration: none;
    transform: scale(1.25);
    /*animation: a0 1s ease-in forwards; */
}
@keyframes a0 {
    from {font-size:3vw}
    to {font-size:3.5vw}
}
@keyframes a1 {
    from {font-size:3.5vw}
    to {font-size:3vw}
}
.navbar-container {
    position: absolute;
    width: 100%; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1vw;
    font-size: 1.25vw;
    margin-bottom: 2vw;
  }
a {
    color: grey;
    padding-left: 2vw;
}
a:visited {
    color: grey;
}
a:hover {
    text-decoration: underline;
}
.navbar-item1b {
    color: black;
}
.navbar-item1b:hover {
    color: black;
}
.navbar-item2b {
    color: black;
}
.navbar-item2b:hover {
    color: black;
}
.navbar-item3b {
    color: black;
}
.navbar-item3b:hover {
    color: black;
}
.navbar-item4b {
    color: black;
}
.navbar-item4b:hover {
    color: black;
}
.info1 {
	color: grey;
	font-size:1.25vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.info {
    color: grey;
    padding-left: 0vw;
}
.info:visited {
    color: grey;
    padding-left: 0vw;
}

/*ABOUT PAGE*/
.description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 8vw;
}
.selfie {
    width:37vw;
    padding-top: 3vw;
}
.disc {
    font-size: 1.4vw;
    font-weight: 200;
    width: 40vw;
    text-align: justify;
    padding-left: 5vw;
}
/*PROJECTS PAGE*/
.proj {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5vw;
    margin-bottom: 1vw;
}
.projs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1vw;
    margin-bottom: 5vw;
}
.yhwh-container {
    padding-top: 4.5vw;
}
.yhwh {
    width: 15vw;
    opacity: 0.4;
    transition-duration: 1s;
    border-radius: 20px;
}
.yhwh:hover {
    cursor: pointer;
    animation: fade1 0.5s ease-in forwards;
}
.zine-container {
    /* padding-top: 4vw; */
}
.zine {
    width: 15vw;
    opacity: 0.4;
    transition-duration: 1s;
    border-radius: 20px;
}
.zine:hover {
    cursor: pointer;
    animation: fade1 0.5s ease-in forwards;
}
.lily-container {
    padding-top: 2vw;
}
.lilypx {
    width: 15vw;
    opacity: 0.4;
    transition-duration: 1s;
    border-radius: 20px;
}
.lilypx:hover {
    cursor: pointer;
    animation: fade1 0.5s ease-in forwards;
}
.hgp-container {
    padding-top: 1.5vw;
}
.homegroup {
    width: 15vw;
    opacity: 0.4;
    transition-duration: 1s;
    border-radius: 20px;
}
.homegroup:hover {
    cursor: pointer;
    animation: fade1 0.5s ease-in forwards;
}
.kp-container {
    padding-top: 2.5vw;
}
.kp {
    width: 15vw;
    opacity: 0.4;
    transition-duration: 1s;
    border-radius: 20px;
}
.kp:hover {
    cursor: pointer;
    animation: fade1 0.5s ease-in forwards;
}
.des-container {
    padding-top: 1.5vw;
}
.des {
    width: 15vw;
    opacity: 0.4;
    transition-duration: 1s;
    border-radius: 20px;
}
.des:hover {
    cursor: pointer;
    animation: fade1 0.5s ease-in forwards;
}

@keyframes fade1 {
    from {opacity:0.4}
    to {opacity:1}
}
.hidden {
    display: none;
}
.button {
    width:10vw;
    height: 1.5vw;
    background-color: white;
    border-radius: 20vw;
    margin: 0 auto;
}
.button:hover {
    cursor: pointer;
}
.button-text {
    font-size: 1vw;
    text-align: center;
    font-weight:600;
    color: black;
}
.button-text:visited {
    font-size: 1vw;
    text-align: center;
    font-weight:600;
    color: black;
    color: black;
}
.button-text:hover {
    text-decoration: underline;
}
.caption {
    text-align: justify;
}
#lightbox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.lightbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
}
.lightbox .caption {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    background: white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.overlay-yhwh-text {
    position: fixed; 
    display: none; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2; 
    cursor: pointer; 
}
.overlay-kp-text {
    position: fixed; 
    display: none; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2; 
    cursor: pointer; 
}
.overlay-ds-text {
    position: fixed; 
    display: none; 
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2; 
    cursor: pointer; 
}
/*RESUME PAGE*/
.resume-description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3vw;
    font-size:1.5vw;
}
.resume-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.resume-pic {
    border: 0.25vw solid black;
    margin-top: 3vw;
    width: 70vw;
    display: block;
    margin-left: auto;
     margin-right: auto;
}*/
/*DANCE PAGE*/
.bodies {
    font-size: 1.4vw;
    font-weight: 200;
}
.carry {
	display: flex;
	flex-direction: row;
}
.abba {
	margin-left: 20px;
	width: 85vw;
}
.tl {
	margin-left: 20px;
	width: 85vw;
}
.move {
	margin-left: 20px;
	width: 85vw;
}
.afx {
	margin-left: 20px;
	width: 85vw;
}
.labels {
	font-size: 2.3vw;
	font-weight: 600;
}
.subsec1 {
	font-size: 1.6vw;
    margin-left: 40px;
    color: black;
}
.subsec1:visited {
    color:black;
}
.subse1:hover {
    color: black;
    text-decoration: underline;

}
.subdes {
    font-size: 1.3vw;
    font-weight: 200;
	width: 60vw;
	margin-left: 60px;
    margin-right: 50px;
    text-align: justify;
}
iframe {
    width: 40vw;
    height: 22vw;
}
/*CONTACTS PAGE*/
.hello {
    font-size: 1.5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5vw;
}
.hellos {
    font-size: 1.5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.hi {
    text-align: center;
}
.logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3vw;
    margin-bottom: 3vw;;
}
.logo {
    width:5vw;
    opacity: 0.65;
    transition-duration: 1s;
}
.logo:hover {
    cursor: pointer;
    animation: fade 0.5s ease-in forwards;
}
@keyframes fade {
    from {opacity:0.65}
    to {opacity:1}
}
.goodbye {
    font-size: 1.5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2vw;
}
.bye {
    text-align: center;
}
/* YHWH Portfolio Page */
.yp-link {
    color: black;
}
.yp-link:visited {
    color: black;
}
.yp-link:hover {
    text-decoration: underline;
}
.yp-description {
    margin-top: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.yp-main-image {
    width:37vw;
    padding-top: 2vw;
}
.yp-process {
    font-size: 1.4vw;
    font-weight: 200;
    text-align: justify;
    padding-left: 10vw;
    padding-right: 10vw;
}
.yp-link-1 {
    font-weight: bold;
    padding: 0;
    color: black;
}
.yp-link-1:visited {
    color: black;
}
.yp-link-1:hover {
    text-decoration: underline;
}
/* KingPin Portfolio Page */
.kp-link {
    color: black;
}
.kp-link:visited {
    color: black;
}
.kp-link:hover {
    text-decoration: underline;
}
.kp-description {
    margin-top: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.kp-disc {
    font-size: 1.4vw;
    font-weight: 200;
    width: 40vw;
    text-align: justify;
    padding-left: 5vw;
    padding-top: 3vw;
}
.kp-main-image {
    width:30vw;
    padding-left: 4vw;
}
.kp-process {
    font-size: 1.4vw;
    font-weight: 200;
    text-align: justify;
    padding-left: 10vw;
    padding-right: 10vw;
}
.kp-link-1 {
    font-weight: bold;
    padding: 0;
    color: black;
}
.kp-link-1:visited {
    color: black;
}
.kp-link-1:hover {
    text-decoration: underline;
}
.yp-color {
    width: 60vw;
    padding-left: 10vw;
}
.yp-desktop {
    width: 75vw;
    padding-left: 1vw;
}
.yp-mobile {
    width: 75vw;
    padding-left: 1vw;
}
.og-site {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.kp-i1 {
    width: 25vw;
    padding: 1vw;
}
.kp-i2 {
    width: 25vw;
    padding: 1vw;
}
.kp-i3 {
    width: 25vw;
    padding: 1vw;
}
.kp-wireframe {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.kp-wftext {
    font-size: 1.4vw;
    font-weight: 200;
    width: 40vw;
    text-align: justify;
    padding-left: 5vw;
    padding-top: 5vw; 
}
.kp-i4 {
    width: 20vw;
}
/* HomeGroup Portfolio Page */
.hgp-link {
    color: black;
}
.hgp-link:visited {
    color: black;
}
.hgp-link:hover {
    text-decoration: underline;
}
.hgp-description {
    margin-top: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.hgp-main-image {
    width:25vw;
    padding-top: 1vw;
    padding-left: 5vw;
}
.hgp-process {
    font-size: 1.4vw;
    font-weight: 200;
    text-align: justify;
    padding-left: 10vw;
    padding-right: 10vw;
}
.hg-pictures { 
    padding-left: 5vw;
}
.hg-icon {
    width: 20vw;
    padding: 1vw;
}

/* PureUX Portfolio Page */
.pup-link {
    color: black;
}
.pup-link:visited {
    color: black;
}
.pup-link:hover {
    text-decoration: underline;
}
.pup-description {
    margin-top: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pup-main-image {
    width:20vw;
    padding-top: 1vw;
}
.pup-process {
    font-size: 1.4vw;
    font-weight: 200;
    text-align: justify;
    padding-left: 10vw;
    padding-right: 10vw;
}
.notionimage {
    width: 70vw;
    padding-left: 5vw;
}
.pu-i1 {
    width: 20vw;
    padding: 1vw;
}
.pu-i2 {
    width: 17vw;
    padding: 1vw;
}
.pu-i3 {
    height: 30vw;
    padding: 4vw;
}
.pu-i4 {
    height: 20vw;
    padding: 1vw;
}
.obimage {
    width: 70vw;
    padding-left: 5vw;
}
.bximage {
    width: 70vw;
    padding-left: 5vw;
}
/* Zine Portfolio Page */
.zine-description {
    margin-top: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.zine-main-image {
    width:17vw;
    padding-top: 0.5vw;
}
.zine-process {
    font-size: 1.4vw;
    font-weight: 200;
    text-align: justify;
    padding-left: 10vw;
    padding-right: 10vw;
}
.z-i1 {
    width: 12vw;
    padding: 1vw;
}
.z-i2 {
    width: 18vw;
    padding: 1vw;
}
/* .notionimage {
    width: 70vw;
    padding-left: 5vw;
}

.pu-i2 {
    width: 17vw;
    padding: 1vw;
}
.pu-i3 {
    height: 30vw;
    padding: 4vw;
}
.pu-i4 {
    height: 20vw;
    padding: 1vw;
}
.obimage {
    width: 70vw;
    padding-left: 5vw;
} */
.layout-planning {
    width: 60vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* Design Portfolio Page */
.design-content {
    font-size: 1.4vw;
    font-weight: 200;
    text-align: justify;
    padding-left: 10vw;
    padding-right: 10vw;
}